.header {
	padding: 0.625rem;
	width: 100%;
	height: 130px;
}

@media( min-width: 576px ) {
	.header {
    	padding: 20px;
    	height: initial;
    	flex-direction: row;			
	}
}

@media( min-width: 1271px ) {
	.header {
    	padding: 0;
    	justify-content: flex-end;
    	position: absolute;
		top: 30px;	
		right: 47px;
	}
}
